<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Un chat con socket.io</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
 <!-- <body class="bg-gray-800 text-gray-200">-->
  <body class="bg-gray-800">