<%- include('partials/head') %>
<div class="flex flex-col h-screen text-xl">
  <div id="content" class="flex flex-1 overflow-y-auto">
    <div class="text-white w-full px-5">
      <div id="msg-container" class="text-2xl">
        <h1 class="font-2xl uppercase text-teal-100 mt-1">#Chat general</h1>
        <div id="loading">Espera por favor...</div>
      </div>
      <div id="typing"></div>
    </div>
    <div class="flex-1 px-5 ">
      <a id="logout" href="#" class="appearance-none bg-gray-100 rounded w-full py-1 px-10 mt-3 text-gray-700 block">Cerrar</a>
    </div>
  </div>
  <div class="bg-gray-800">
    <form action="" id="form">


<div class="md:flex">
  <div class="md:w-1/4 px-2">
    <input autofocus autocomplete="off" class="appearance-none bg-gray-900 rounded w-full py-2 px-3 text-gray-100 mb-3 leading-tight focus:outline-none" type="text" value="" placeholder="Nombre de usuario" id="author">
  </div>
  <div class="md:w-full md:px-2">
        <input autocomplete="off" class="appearance-none bg-gray-900 rounded w-full py-2 px-3 text-gray-100 mb-3 leading-tight focus:outline-none" id="message" placeholder="Escribe algo..." />
  </div>
  
</div>

  </div>
    </form>
  </div>
</div>
<%- include('partials/scripts') %>
<script src="public/js/chat.js"></script>

<script>
  document.getElementById('logout').addEventListener('click', () => {
    window.location = '/';
    return false;
  })
</script>

<%- include('partials/foot') %>