<%- include('partials/head') %>

<div class="bg-grey-lighter h-screen overflow-y-hidden flex justify-center items-center">
  
  <div class="md:w-2/5 sm:px-5">

   <h1 class="text-3xl text-center uppercase text-white mb-3">
    Iniciar sesión
  </h1>
  <form action="" id="login" class="animated bounceInLeft">
    <div id="response" class="bg-orange-300 border border-orange-900 text-black px-4 py-3 mb-4 relative text-center hidden">sss</div>
    <input autofocus autocomplete="off" class="appearance-none bg-gray-900 rounded w-full py-2 px-3 text-gray-100 mb-3 leading-tight focus:outline-none" type="text" value="" placeholder="Nombre de usuario" id="user">
    <input autofocus autocomplete="off" class="appearance-none bg-gray-900 rounded w-full py-2 px-3 text-gray-100 mb-3 leading-tight focus:outline-none" type="password" value="" placeholder="************" id="pass">
    <button type="submit" class="shadow appearance-none border bg-red-500 border-red-500 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-none mb-5" type="button">Chatear</button>
    <button type="button" onclick="window.location='/register';" class="shadow appearance-none border bg-gray-200 text-gray-900 rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-none">Crear cuenta</button>

  </form>
  </div>
</div>

<%- include('partials/scripts') %>
<script src="public/js/login.js"></script>

<%- include('partials/foot') %>