<%- include('partials/head') %>

<div class="bg-grey-lighter h-screen overflow-y-hidden flex justify-center items-center">
  
  <div class="w-2/5">
  <h2>Register</h2>
  <form action="">
    <div id="response" class="bg-orange-300 border border-orange-900 text-black px-4 py-3 mb-4 relative text-center hidden">sss</div>
    <input autofocus autocomplete="off" class="appearance-none bg-gray-900 rounded w-full py-2 px-3 text-gray-100 mb-3 leading-tight focus:outline-none" type="text" value="" placeholder="Nombre de usuario" id="user">
    <input autofocus autocomplete="off" class="appearance-none bg-gray-900 rounded w-full py-2 px-3 text-gray-100 mb-3 leading-tight focus:outline-none" type="password" value="" placeholder="************" id="pass">
    <button class="shadow appearance-none border hover:bg-red-500 border-red-500 rounded w-full py-2 px-3 text-gray-200 leading-tight focus:outline-none focus:shadow-none" type="button" id="register">Crear cuenta</button>

  </form>
  </div>
</div>

<%- include('partials/scripts') %>

    <script>
      var typing = false;
     // var socket = io("https://nodechat-socketio.herokuapp.com/");
      var socket = io();

      document.getElementById('register').addEventListener('click', (e) =>{

        if(document.getElementById('user').value !== '' && document.getElementById('pass').value !== ''){
          socket.emit('register', {
            user: document.getElementById('user').value,
            password: document.getElementById('pass').value
          })
        }
          
          e.preventDefault();
      })
      socket.on('register', (data) => {
        console.log(data)
        if(data.status=='SUCCESS') {
          window.location = '/chat';
          document.cookie('username', data.username)
          
        } else {
          console.log(data);
          document.getElementById('response').classList.remove('hidden')
          document.getElementById('response').innerHTML = data.status;
        }
      });
</script>

<%- include('partials/foot') %>